@import url('https://fonts.googleapis.com/css2?family=Karma:wght@300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #012842;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: karma , sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 10px;
}

form {
    background-color: #fff;
    width: 540px;
    height: 660px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
}


.titulo-login {
    display: flex;
    justify-content: center;
    align-items: center ;
    margin: 0px 0px 40px 0px;
}


.input {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.input-password {
    display: flex;
    gap: 30px;
    flex-direction: column;
    
}


.input input {
    width: 380px;
    height: 40px;
    padding: 14px;
    border: 2px solid #000;
    border-radius: 16px;
}

.input label {
   font-weight: 600;
   font-size: 20px;
}

label {
    margin-left: 12px;
}

.botao {
    width: 460px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.botao button {
    width: 80px;
    height: 28px;
    border: none;
    color: #fff;
    text-transform: uppercase;
    background-color: #012842;
    border-radius: 8px;
    cursor: pointer;
}

.botao a {
    color: rgb(12, 133, 133);;
    text-decoration: none;
    font-size: 13px;
}


.linha {
    width: 380px;
    border: 1px solid #012842;
    margin: 12px;
}


.cadastro {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 12px;
    font-size: 12px;
}

.cadastro a {
    color: rgb(12, 133, 133);
    text-decoration: none;
}



