@import url('https://fonts.googleapis.com/css2?family=Karma:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
}


body {
    font-family: 'karma', sans-serif;
    flex-wrap: wrap;
}


nav {
    width: 100%;
    height: 41px;
    display: flex;
    
}


.menu {
    width: 100%;
    height: 54px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: #012842;
    color: #fff;
}


.menu li {
    list-style: none;
}


.logo-sign {
    width: 30px;
    height: 30px;
}


.logo {
    display: flex;
    align-items: center;
    font-size: 20px;
    margin-left: 20px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
}



.itens {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 440px;

}



.itens-li {
    display: flex;
    gap: 16px;
    align-items: center;
}


.li-secoes {
    margin-left: 200px;
}


.li-inicio {
    color: #fff;
    text-decoration: none;
    list-style: none;
}


.itens-li a{
    color: #fff;
    text-decoration: none;
}


.itens-li img {
    margin-right: 20px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    text-align: center;
    position: absolute;
    background-color: rgba(160, 163, 163, 0.694);
    min-width: 400px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    animation: fadeIn 0.3s ease-in-out;
    list-style: none;
    border-radius: 16px;
}

.dropdown-content a {
    color: #fff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    flex-direction: column;
    align-items: center;
}

.dropdown-content a:hover {   
    background-color: rgba(160, 163, 163, 0.694);;
    border-radius: 16px;
}

.dropdown:hover .dropdown-content {
    display: block;
    flex-direction: column;
    align-items: center;
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.show {
    display: block;
    flex-direction: column;
    align-items: center;
}

.container-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 380px;
    background: rgb(1,40,66);
    background: linear-gradient(180deg, rgba(1,40,66,1) 35%, rgba(4,56,91,1) 100%);
    color: #fff;
    font-size: 24px;
    gap: 16px;
    word-spacing: 6px;
}


.container-nav h2 {
    font-family: karma, sans-serif;
    font-size: 30px;
}


.container-main {
    width: 100%;
    height: 1160px;
    background-image: url("/images/imagem-fundo.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 40px;
}


.titulo-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-transform: uppercase;
}



.container-imagem {
    width: 100%;
    height: 900px;
    background: rgb(0,166,185);
    background: linear-gradient(167deg, rgba(0,166,185,1) 0%, rgba(0,181,198,1) 10%, rgba(0,152,174,1) 29%, rgba(0,123,151,1) 43%, rgba(0,113,143,1) 49%, rgba(0,82,119,1) 66%);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.container-imagem input {
    width: 380px;
    height: 36px;
    border: none;
    border-radius: 10px;
    margin-top: 50px;
    padding: 10px 20px 10px 38px;
    background-color: #7FD1DA;
    color: aqua;
}


.container-imagem input[type="text"]::placeholder {
    color: #5D787C;
}


.search-container {
    position: relative;    
}

.search-container input[type="text"] {
    padding-right: 30px; /* Espaço para o ícone */
}


.search-container .gg-search {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    margin-top: 24px;
}


.gg-search {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 16px;
    height: 16px;
    border: 2px solid;
    border-radius: 100%;
    margin-right: 10px;
    margin-top: 68px;
    cursor: pointer;
   }
   
   .gg-search::after {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    border-radius: 3px;
    width: 2px;
    height: 8px;
    background: currentColor;
    transform: rotate(-45deg);
    top: 10px;
    left: 12px
   } 


.footer {
    width: 100%;
    height: 180px;
    background-color: #012842;
    box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.5);
    color: #fff;
}


.footer-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 100%;
}


.logo-footer {
    display: flex;
    align-items: center;
    margin-left: 36px;
    font-size: 40px;
}


.footer-li {
    display: flex;
    gap: 80px;
    align-items: center;
    margin-right: 36px
}


.footer-contato {
    display: flex;
    flex-direction: column;
    gap: 16px;
}


.footer-email {
    text-transform: uppercase;
    text-decoration: underline;
}


.footer-p {
    text-transform: uppercase;
    font-size: 20px;
}


.footer-sociais {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 80px;
}

.footer-sociais h2 {
    display: flex;
    flex-direction: column;
    align-items: center;;
}


.sociais-logo {
    font-size: 38px;
    display: flex;
    color: #fff;
}


.sociais-group {
    display: flex;
    gap: 30px;
    margin-right: 48px;
}